* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

body {
    background: #FFF;
    display: flex;
    width: 90rem;
    height: 56.25rem;
    align-items: center;
    gap: 1.25rem;
    flex-shrink: 0;
}

.Tabbar {
    width: 22.3125rem;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 0rem 1.5rem 0rem 0rem;
    background: #52634F;

    .Information {
        margin-top: 3.25rem;
        display: flex;
        width: 22.3125rem;
        height: 6.3125rem;
        padding-left: 2.5rem;
        align-items: flex-start;
        align-content: flex-start;
        gap: 1.25rem;
        flex-wrap: wrap;

        .Avatar {
            width: 6.3125rem;
            height: 6.3125rem;
            flex-shrink: 0;
            /* Set img lightgray 50% / cover no-repeat*/
            background: #D3D3D3;
            border-radius: 50%;
        }
        .User-function {
            display: flex;
            height: 6.3125rem;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 0.3125rem;

            #Username {
                width: 5.375rem;
                color: var(--M3-sys-light-primary-container, #95F996);
                font-family: Roboto;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1rem; /* 100% */
                letter-spacing: 0.03125rem;
            }
            .Logout {
                align-self: stretch;
                color: #B9CCB4;
                font-family: Roboto;
                font-size: 0.8125rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1rem; /* 123.077% */
                letter-spacing: 0.03125rem;
                text-decoration: none;
                /* Add :hover */
                &:hover {
                    color: #FFF;
                    text-decoration: underline;
                }
            }
        }
    }
    .Menu {
        margin-top: 3.25rem;
        display: flex;
        width: 22.125rem;
        height: 15rem;
        flex-direction: column;
        align-items: flex-start;

        .menu-option {
            display: flex;
            width: 22.125rem;
            height: 3.75rem;
            padding: 0.625rem 3.125rem;
            align-items: center;
            flex-shrink: 0;
            text-decoration: none;
            border-radius: 0.625rem;

            &:hover {
                background: #849680;
            }
            span {
                color: #FFF;
                font-family: Roboto;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.5rem; /* 120% */
            }
            &.selected {
                background: #B9CCB4;
            }
        }
    }
    .Copyright {
        margin-top: 6.25rem;
        position: relative;
        bottom: 0;
        left: 1rem;
        color: #FFF;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }
}

.Function {
    display: flex;
    width: 65.5625rem;
    height: 49rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    flex-shrink: 0;

    .Sensors {
        width: 65.5625rem;
        height: 27rem;
        flex-shrink: 0;

        span {
            width: 4.9135rem;
            color: #000;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1rem; /* 100% */
            letter-spacing: 0.03125rem;
        }
        .Sensor-table {
            display: flex;
            width: 65.5625rem;
            height: 24.25rem;
            padding: 0.625rem;
            justify-content: space-between;
            align-items: flex-start;
            align-content: flex-start;
            row-gap: 0.625rem;
            flex-shrink: 0;
            flex-wrap: wrap;
            border-radius: 0.625rem;
            background: #F3F4EE;

            .Sensor-node {
                width: 30.625rem;
                height: 7.25rem;
                flex-shrink: 0;
                border-radius: 0.625rem;
                background: #C2C9BD;


                &.Disabled {
                    background: #72796F;

                    > span {
                        color: rgba(0, 33, 5, 0.50);
                    }
                    .Information {
                        background: rgba(185, 204, 180, 0.30);
                    }
                }
                > span {
                    padding-left: 1rem;
                    color: #00390D;
                    text-align: center;
                    font-family: Roboto;
                    font-size: 0.75rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1rem; /* 133.333% */
                    letter-spacing: 0.03125rem;
                }
                .Information {
                    display: flex;
                    width: 30.625rem;
                    height: 6.125rem;
                    padding: 0.625rem;
                    align-items: flex-start;
                    align-content: flex-start;
                    gap: 0.625rem;
                    flex-shrink: 0;
                    flex-wrap: wrap;
                    background: #B9CCB4;
                    border-radius: 0 0 0.625rem 0.625rem;

                    .Sensor-information {
                        display: flex;
                        width: 6.875rem;
                        height: 2.0625rem;
                        align-items: center;
                        gap: 0.625rem;
                        flex-shrink: 0;

                        &.Disabled {
                            span {
                                color: #72796F !important;
                            }
                        }

                        span {
                            display: flex;
                            width: 2.5625rem;
                            height: 1.5rem;
                            flex-direction: column;
                            justify-content: flex-end;
                            flex-shrink: 0;
                            color: #006E21;
                            text-align: center;
                            font-family: Roboto;
                            font-size: 0.5rem;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 1rem; /* 200% */
                            letter-spacing: 0.03125rem;
                        }
                        .Value-sensor {
                            display: flex;
                            width: 3.5625rem;
                            height: 1.5rem;
                            justify-content: center;
                            align-items: flex-end;
                            gap: 0.125rem;
                            flex-shrink: 0;
    
                            span {
                                color: #006E21;
                                text-align: center;
                                font-size: 1rem !important;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 1rem; /* 100% */
                                letter-spacing: 0.03125rem;
                            }
    
                            img {
                                width: 1.5rem;
                                height: 1.5rem;
                                flex-shrink: 0;
                            }
                        }
                        &.Temperature1, &.Temperature2   {
                            img {
                                content: url("../img/air-temperature.svg");
                            }
                            &.Disabled {
                                img {
                                    content: url("../img/off-air-temperature.svg");
                                }
                            }
                        }
                        &.Air-humidity1, &.Air-humidity2 {
                            img {
                                content: url("../img/humidity.svg");
                            }
                            &.Disabled {
                                img {
                                    content: url("../img/off-humidity.svg");
                                }
                            }
                        }
                        &.Soil-moisture1, &.Soil-moisture2 {
                            img {
                                content: url("../img/soil-humidity.svg");
                            }
                            &.Disabled {
                                img {
                                    content: url("../img/off-soil-humidity.svg");
                                }
                            }
                        }
                        &.Light-intensity1, &.Light-intensity2 {
                            img {
                                content: url("../img/lux.svg");
                            }
                            &.Disabled {
                                img {
                                    content: url("../img/off-lux.svg");
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .Actuators {
        display: flex;
        width: 65.5625rem;
        height: 19rem;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.25rem;
        flex-shrink: 0;

        .Actuators-function {
            display: flex;
            width: 9.875rem;
            height: 2.125rem;
            align-items: center;
            flex-shrink: 0;

            >span {
                width: 6.271rem;
                flex-shrink: 0;
                color: #000;
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1rem; /* 100% */
                letter-spacing: 0.03125rem;
            }
        }
        .Actuators-table {
            display: flex;
            width: 65.5625rem;
            padding: 0.625rem;
            justify-content: space-between;
            align-items: flex-start;
            align-content: flex-start;
            row-gap: 0.625rem;
            flex-wrap: wrap;
            border-radius: 0.625rem;
            background: #F3F4EE;

            .Actuator-node {
                width: 17.125rem;
                height: 6.875rem;
                flex-shrink: 0;
                border-radius: 0.625rem;
                background: #C2C9BD;


                &.Disabled {
                    background: #72796F;

                    > span {
                        color: rgba(0, 33, 5, 0.50);
                    }
                    .Information {
                        background: rgba(185, 204, 180, 0.30);
                    }
                }
                >span {
                    padding-left: 1rem;
                    color: #00390D;
                    text-align: center;
                    font-size: 0.75rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1rem; /* 133.333% */
                    letter-spacing: 0.03125rem;
                }
                .Information {
                    display: flex;
                    width: 17.125rem;
                    height: 5.875rem;
                    padding: 0.625rem 0rem 0rem 0.3125rem;
                    justify-content: space-between;
                    align-items: flex-start;
                    align-content: flex-start;
                    row-gap: 0.625rem;
                    flex-shrink: 0;
                    flex-wrap: wrap;
                    background: #B9CCB4;
                    border-radius: 0 0 0.625rem 0.625rem;
                    -webkit-border-radius: 0 0 0.625rem 0.625rem;
                    -moz-border-radius: 0 0 0.625rem 0.625rem;
                    -ms-border-radius: 0 0 0.625rem 0.625rem;
                    -o-border-radius: 0 0 0.625rem 0.625rem;
                    .Actuator-information {
                        display: flex;
                        width: 8.1875rem;
                        height: 2rem;
                        align-items: flex-start;
                        gap: 0.625rem;
                        flex-shrink: 0;

                        &.Disabled {
                            span {
                                color: #72796F;
                            }
                        }
                        >span {
                            display: flex;
                            width: 3.09306rem;
                            height: 2rem;
                            flex-direction: column;
                            justify-content: center;
                            flex-shrink: 0;
                            color: #006E21;
                            text-align: center;
                            font-family: Roboto;
                            font-size: 0.75rem;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 1rem; /* 133.333% */
                            letter-spacing: 0.03125rem;
                        }
                        .Control {
                            display: flex;
                            align-items: flex-start;
                        }
                    }
                }
            }
        }
    }
}



.Switch {
    position: relative;
    display: inline-block;
    width: 3.75rem;
    height: 2.125rem;

    &.Disabled {

        .Slider {
            background: rgba(222, 229, 217, 0.5);
            &:before {
                opacity: 0.5;
            }
        }
    }
    & input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .Slider {
            background: #006E21;
        }
        &:focus + .Slider {
            box-shadow: 0 0 0.0625rem #006E21;
        }
        &:checked + .Slider:before {
            -webkit-transform: translateX(1.625rem);
            -ms-transform: translateX(1.625rem);
            transform: translateX(1.625rem);
            background: var(--M3-sys-light-primary-container, #95F996);
        }
    }

    .Slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--M3-sys-light-surface-container-highest, #E2E3DD);
        -webkit-transition: .4s;
        transition: .4s;

        &::before {
            position: absolute;
            content: "";
            height: 1.625rem;
            width: 1.625rem;
            left: 0.25rem;
            bottom: 0.25rem;
            background: #424940;
            -webkit-transition: .4s;
            transition: .4s;
        }
        &.round {
            border-radius: 2.125rem;
            -webkit-border-radius: 2.125rem;
            -moz-border-radius: 2.125rem;
            -ms-border-radius: 2.125rem;
            -o-border-radius: 2.125rem;
}
        &.round:before {
            border-radius: 50%;
        }
    }
}